.container{
  height: calc(100vh - 150px);
  background-color: rgb(89, 108, 99);
  display: flex;
}

#navbar{
  flex: 3;
}
#main{
  flex: 1;
}

@media screen and (max-width: 600px) {
  div.container{
    flex-direction: column;
  }
}
